<div #scrollContainer class="scroll-container"  (scroll)="onScroll()">
<mat-grid-list class="article-grid" [cols]="cols" [rowHeight]="rowHeight" gutterSize ="2em">

    <mat-grid-tile *ngFor="let post of posts | filterBy: filter" class="article-grid-tile"
                    style="background-image: url('{{post.cover_image_url}}');"
                    (click)="onClick(post)">
        <div class="post-info">
            <span class="title">{{post.title}}</span><br>
            <!--<span class="subtitle">{{post.subtitle}}</span>-->
        </div>
    </mat-grid-tile>

</mat-grid-list>
</div>