<logo-intro class="intro" *ngIf="showlogo"></logo-intro>

<div class="container">
    <img class="background-image" src="../assets/background.png" >

    <div class="top-section">
        <a class="instagram-link" href="https://www.instagram.com/didaskalicon" target="_blank">
            <img class="instagram-icon" src="../assets/instagram.ico" alt="Instagram Icon">
        </a>
        <div class="search-bar">
            <mat-icon aria-hidden="search" class="search-icon" aria-label="Search icon" fontIcon="search"></mat-icon>
            <input type="text" class="search-input" (keyup)="filter=$any($event.target).value" placeholder="busca por tags...">
        </div>
    </div>
    <div class="middle-section">
        <h1 class="title">DIDASKALICON</h1>
        <h2 class="subtitle">"Existe apenas um bem, o saber, e apenas um mal, a ignorância"</h2>
    </div>
    <div class="bottom-section">
        <app-blog-grid [filter]="filter"></app-blog-grid>
    </div>
</div>